In [1]:
import pandas as pd
import anndata
import scanpy as sc
import numpy as np

In [2]:
a = sc.read_h5ad('/diskmnt/Projects/Users/estorrs/sandbox/htan_brca_integrated.h5ad')
a

/diskmnt/Projects/Users/estorrs/miniconda3/envs/squidpy/lib/python3.7/site-packages/anndata/_core/anndata.py:1828: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

AnnData object with n_obs × n_vars = 887952 × 14
    obs: 'area', 'perimeter', 'bbox_row_min', 'bbox_col_min', 'bbox_row_max', 'bbox_col_max', 'centroid_row', 'centroid_col', 'eccentricity', 'DAPI intensity max', 'CD31 intensity max', 'E-cadherin intensity max', 'CD4 intensity max', 'CD20 intensity max', 'Ki67 intensity max', 'CD68 intensity max', 'Pan-CK intensity max', 'CD8 intensity max', 'Histone H3 Pho intensity max', 'CD163 intensity max', 'Podoplanin intensity max', 'CD36 intensity max', 'HIF1a intensity max', 'GLUT1 intensity max', 'GATA3 intensity max', 'CD45RO intensity max', 'CD45RA intensity max', 'SMA intensity max', 'MGP intensity max', 'Vimentin intensity max', 'Maspin intensity max', 'Foxp3 intensity max', 'MMP9 intensity max', 'HLA-DR intensity max', 'CK14 intensity max', 'CD11c intensity max', 'CD44 intensity max', 'DAPI intensity min', 'CD31 intensity min', 'E-cadherin intensity min', 'CD4 intensity min', 'CD20 intensity min', 'Ki67 intensity min', 'CD68 intensity min', 'Pan-CK intensity min', 'CD8 intensity min', 'Histone H3 Pho intensity min', 'CD163 intensity min', 'Podoplanin intensity min', 'CD36 intensity min', 'HIF1a intensity min', 'GLUT1 intensity min', 'GATA3 intensity min', 'CD45RO intensity min', 'CD45RA intensity min', 'SMA intensity min', 'MGP intensity min', 'Vimentin intensity min', 'Maspin intensity min', 'Foxp3 intensity min', 'MMP9 intensity min', 'HLA-DR intensity min', 'CK14 intensity min', 'CD11c intensity min', 'CD44 intensity min', 'sample_id'
    uns: 'log1p', 'neighbors', 'pca', 'sample_id_colors'
    obsm: 'X_pca', 'X_pca_harmony', 'X_umap', 'X_umap_harmony'
    varm: 'PCs'
    obsp: 'connectivities', 'distances'

In [3]:
set(a.obs['sample_id'])

{'HT206B1-H1', 'HT323B1-H3', 'HT397B1-H2A2', 'HT397B1-H3A1'}

In [4]:
sample = 'HT397B1-H2A2'
f = a[a.obs['sample_id']==sample]
f

View of AnnData object with n_obs × n_vars = 152380 × 14
    obs: 'area', 'perimeter', 'bbox_row_min', 'bbox_col_min', 'bbox_row_max', 'bbox_col_max', 'centroid_row', 'centroid_col', 'eccentricity', 'DAPI intensity max', 'CD31 intensity max', 'E-cadherin intensity max', 'CD4 intensity max', 'CD20 intensity max', 'Ki67 intensity max', 'CD68 intensity max', 'Pan-CK intensity max', 'CD8 intensity max', 'Histone H3 Pho intensity max', 'CD163 intensity max', 'Podoplanin intensity max', 'CD36 intensity max', 'HIF1a intensity max', 'GLUT1 intensity max', 'GATA3 intensity max', 'CD45RO intensity max', 'CD45RA intensity max', 'SMA intensity max', 'MGP intensity max', 'Vimentin intensity max', 'Maspin intensity max', 'Foxp3 intensity max', 'MMP9 intensity max', 'HLA-DR intensity max', 'CK14 intensity max', 'CD11c intensity max', 'CD44 intensity max', 'DAPI intensity min', 'CD31 intensity min', 'E-cadherin intensity min', 'CD4 intensity min', 'CD20 intensity min', 'Ki67 intensity min', 'CD68 intensity min', 'Pan-CK intensity min', 'CD8 intensity min', 'Histone H3 Pho intensity min', 'CD163 intensity min', 'Podoplanin intensity min', 'CD36 intensity min', 'HIF1a intensity min', 'GLUT1 intensity min', 'GATA3 intensity min', 'CD45RO intensity min', 'CD45RA intensity min', 'SMA intensity min', 'MGP intensity min', 'Vimentin intensity min', 'Maspin intensity min', 'Foxp3 intensity min', 'MMP9 intensity min', 'HLA-DR intensity min', 'CK14 intensity min', 'CD11c intensity min', 'CD44 intensity min', 'sample_id'
    uns: 'log1p', 'neighbors', 'pca', 'sample_id_colors'
    obsm: 'X_pca', 'X_pca_harmony', 'X_umap', 'X_umap_harmony'
    varm: 'PCs'
    obsp: 'connectivities', 'distances'

In [6]:
cols = ['area', 'centroid_row', 'centroid_col']
df = f.obs[cols]
for c in f.var.index:
    df[c] = f[:, c].X.toarray().flatten()
df

/diskmnt/Projects/Users/estorrs/miniconda3/envs/squidpy/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,area,centroid_row,centroid_col,CD31,E-cadherin,Pan-CK,CD20,CD68,CD163,CD11c,CD3,CD4,CD8,Podoplanin,SMA,Vimentin,Ki67
cell_id,,,,,,,,,,,,,,,,,
1,1123,1138.959929,2758.504007,4.805633,7.492223,4.578660,4.757666,6.422573,4.291812,6.934699,6.014203,6.655411,7.124142,6.990420,4.565090,4.597931,4.928137
2,1221,1184.760033,7439.032760,4.657736,7.999714,7.444571,4.977575,6.132918,4.227641,6.419804,5.561390,6.301445,6.600645,6.360160,4.389411,6.023579,4.422721
3,950,1213.116842,7445.796842,4.559258,7.906015,7.306585,5.251248,6.364823,4.034446,6.391047,5.459944,6.410832,6.338843,6.305545,4.253101,4.420501,4.537432
4,840,1208.025000,7412.295238,4.639802,7.465276,6.907993,5.124276,6.046953,3.984831,6.402020,5.327107,6.285180,6.368357,5.872165,4.294512,4.807450,3.672647
5,1366,1237.803075,7424.157394,4.730505,8.592995,7.467430,5.490534,6.637053,4.205239,6.434314,5.576564,6.546406,6.195848,6.198375,4.441333,4.731261,4.661607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152376,274,19146.302920,4834.113139,3.707590,5.796102,2.106890,3.844619,5.297185,3.626383,4.890486,4.283033,5.497871,5.443554,5.460455,3.823551,3.028228,4.852059
152377,178,19147.528090,4901.466292,3.012722,5.619831,1.910790,3.126662,4.960248,3.547128,4.878622,4.603258,5.283261,4.970827,5.363795,3.645098,3.797255,3.249634
152378,155,19147.070968,8561.077419,4.659292,4.034070,4.038968,5.297317,7.260645,3.682407,5.837147,4.489868,7.123590,4.940074,1.760080,3.771499,6.687302,1.691167
152379,187,19147.208556,11303.433155,3.984120,5.872374,4.103571,5.633031,6.319671,3.947535,5.437009,4.971038,6.168133,4.744792,6.238847,5.640807,6.508474,3.235423
152380,191,19145.523560,12773.712042,5.859099,6.210758,4.429257,6.121574,7.725256,4.194561,6.237588,5.226225,7.248038,5.271145,6.414437,5.618635,7.438485,3.554151

In [7]:
a = sc.read_h5ad('/diskmnt/Projects/Users/estorrs/multiplex_data/codex/htan/HT397B1-H2A2/level_4/spatial_features.h5ad')
a

AnnData object with n_obs × n_vars = 152380 × 36
    obs: 'area', 'perimeter', 'bbox_row_min', 'bbox_col_min', 'bbox_row_max', 'bbox_col_max', 'centroid_row', 'centroid_col', 'eccentricity', 'DAPI intensity max', 'CD31 intensity max', 'E-cadherin intensity max', 'CD4 intensity max', 'CD20 intensity max', 'Ki67 intensity max', 'CD68 intensity max', 'Pan-CK intensity max', 'CD8 intensity max', 'Histone H3 Pho intensity max', 'CD163 intensity max', 'Podoplanin intensity max', 'CD3e intensity max', 'beta3-integrin intensity max', 'HIF1a intensity max', 'GLUT1 intensity max', 'GATA3 intensity max', 'CD45RO intensity max', 'CD45RA intensity max', 'SMA intensity max', 'CK19 intensity max', 'MGP intensity max', 'Vimentin intensity max', 'Maspin intensity max', 'Foxp3 intensity max', 'CK17 intensity max', 'MMP9 intensity max', 'HLA-DR intensity max', 'CD36 intensity max', 'CK14 intensity max', 'CD11c intensity max', 'cKit intensity max', 'COX2 intensity max', 'MLPH intensity max', 'Lyve-1 intensity max', 'CD44 intensity max', 'DAPI intensity min', 'CD31 intensity min', 'E-cadherin intensity min', 'CD4 intensity min', 'CD20 intensity min', 'Ki67 intensity min', 'CD68 intensity min', 'Pan-CK intensity min', 'CD8 intensity min', 'Histone H3 Pho intensity min', 'CD163 intensity min', 'Podoplanin intensity min', 'CD3e intensity min', 'beta3-integrin intensity min', 'HIF1a intensity min', 'GLUT1 intensity min', 'GATA3 intensity min', 'CD45RO intensity min', 'CD45RA intensity min', 'SMA intensity min', 'CK19 intensity min', 'MGP intensity min', 'Vimentin intensity min', 'Maspin intensity min', 'Foxp3 intensity min', 'CK17 intensity min', 'MMP9 intensity min', 'HLA-DR intensity min', 'CD36 intensity min', 'CK14 intensity min', 'CD11c intensity min', 'cKit intensity min', 'COX2 intensity min', 'MLPH intensity min', 'Lyve-1 intensity min', 'CD44 intensity min'
    var: 'marker'

In [11]:
cols = ['centroid_row', 'centroid_col']
df = a.obs[cols]
for c in a.var.index:
    df[c] = a[:, c].X.toarray().flatten()
df

/diskmnt/Projects/Users/estorrs/miniconda3/envs/squidpy/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,centroid_row,centroid_col,DAPI,CD31,E-cadherin,CD4,CD20,Ki67,CD68,Pan-CK,...,MMP9,HLA-DR,CD36,CK14,CD11c,cKit,COX2,MLPH,Lyve-1,CD44
cell_id,,,,,,,,,,,,,,,,,,,,,
1,1138.959929,2758.504007,339.660736,121.196793,1793.036499,775.976868,115.473732,137.121994,614.585022,96.383797,...,995.545837,536.942993,96.783615,1134.568970,1026.309937,78.294746,975.596619,487.073914,65.488869,836.707031
2,1184.760033,7439.032760,1451.941895,104.397217,2979.106445,544.359558,144.122025,82.322685,459.778870,1709.551147,...,594.940186,302.356262,86.945946,610.672424,612.882874,66.069618,620.104004,975.380005,76.288292,1276.641235
3,1213.116842,7445.796842,3039.466309,94.512634,2712.554688,607.400024,189.804214,92.450523,580.042114,1489.079956,...,714.693665,345.885254,68.427368,588.189453,595.481079,63.802105,616.716858,686.668396,93.238945,985.368408
4,1208.025000,7412.295238,1709.017822,102.523811,1745.336914,535.560730,167.052383,38.355953,421.822632,999.238098,...,531.942871,312.238098,64.002380,627.720215,602.061890,69.789284,622.873779,487.133331,76.775002,836.761902
5,1237.803075,7424.157394,2340.713867,112.352852,5392.742188,695.735718,241.386536,104.806000,761.844055,1749.103271,...,648.593689,336.932648,61.420937,616.938477,621.855042,65.073204,552.858704,645.254028,97.879944,1200.942871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152376,19146.302920,4834.113139,1716.602173,39.755474,328.014587,243.171539,45.740875,127.003647,198.773727,7.222628,...,160.558395,117.036499,21.310219,419.098541,132.018250,34.357666,95.405113,130.948898,36.109489,786.901489
152377,19147.528090,4901.466292,1533.657349,19.342697,274.842682,196.011230,21.797752,24.780899,141.629211,5.758427,...,169.168533,84.426964,32.370785,92.803368,130.449432,36.056179,144.853928,93.938202,42.859550,461.966278
152378,19147.070968,8561.077419,1908.735474,104.561287,55.490322,1239.896729,198.800003,4.425807,1422.174194,55.767742,...,13.503226,2967.993652,27.400000,2.077419,341.799988,31.348387,46.496773,158.006454,78.716125,2074.677490
152379,19147.208556,11303.433155,1785.609619,52.737968,354.090912,476.294128,278.508026,24.417112,554.390381,59.556149,...,181.336899,119.770050,34.385025,347.074860,228.754013,39.139038,149.518723,277.042786,72.117645,791.229919
152380,19145.523560,12773.712042,3228.926758,349.408386,497.078522,1404.345581,454.581146,33.958115,2263.832520,82.869110,...,209.905762,1520.916260,64.094238,469.439789,510.623047,43.670158,170.476440,461.806274,206.298431,3325.806396

In [12]:
o = sc.read_h5ad('/diskmnt/Projects/Users/estorrs/sandbox/htan_brca_integrated.h5ad')
o

/diskmnt/Projects/Users/estorrs/miniconda3/envs/squidpy/lib/python3.7/site-packages/anndata/_core/anndata.py:1828: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

AnnData object with n_obs × n_vars = 887952 × 14
    obs: 'area', 'perimeter', 'bbox_row_min', 'bbox_col_min', 'bbox_row_max', 'bbox_col_max', 'centroid_row', 'centroid_col', 'eccentricity', 'DAPI intensity max', 'CD31 intensity max', 'E-cadherin intensity max', 'CD4 intensity max', 'CD20 intensity max', 'Ki67 intensity max', 'CD68 intensity max', 'Pan-CK intensity max', 'CD8 intensity max', 'Histone H3 Pho intensity max', 'CD163 intensity max', 'Podoplanin intensity max', 'CD36 intensity max', 'HIF1a intensity max', 'GLUT1 intensity max', 'GATA3 intensity max', 'CD45RO intensity max', 'CD45RA intensity max', 'SMA intensity max', 'MGP intensity max', 'Vimentin intensity max', 'Maspin intensity max', 'Foxp3 intensity max', 'MMP9 intensity max', 'HLA-DR intensity max', 'CK14 intensity max', 'CD11c intensity max', 'CD44 intensity max', 'DAPI intensity min', 'CD31 intensity min', 'E-cadherin intensity min', 'CD4 intensity min', 'CD20 intensity min', 'Ki67 intensity min', 'CD68 intensity min', 'Pan-CK intensity min', 'CD8 intensity min', 'Histone H3 Pho intensity min', 'CD163 intensity min', 'Podoplanin intensity min', 'CD36 intensity min', 'HIF1a intensity min', 'GLUT1 intensity min', 'GATA3 intensity min', 'CD45RO intensity min', 'CD45RA intensity min', 'SMA intensity min', 'MGP intensity min', 'Vimentin intensity min', 'Maspin intensity min', 'Foxp3 intensity min', 'MMP9 intensity min', 'HLA-DR intensity min', 'CK14 intensity min', 'CD11c intensity min', 'CD44 intensity min', 'sample_id'
    uns: 'log1p', 'neighbors', 'pca', 'sample_id_colors'
    obsm: 'X_pca', 'X_pca_harmony', 'X_umap', 'X_umap_harmony'
    varm: 'PCs'
    obsp: 'connectivities', 'distances'

In [13]:
o.obs

,area,perimeter,bbox_row_min,bbox_col_min,bbox_row_max,bbox_col_max,centroid_row,centroid_col,eccentricity,DAPI intensity max,...,MGP intensity min,Vimentin intensity min,Maspin intensity min,Foxp3 intensity min,MMP9 intensity min,HLA-DR intensity min,CK14 intensity min,CD11c intensity min,CD44 intensity min,sample_id
cell_id,,,,,,,,,,,,,,,,,,,,,
1,520,110.840620,0,3673,25,3709,8.378846,3693.750000,0.723583,49006.0,...,803.0,1.0,454.0,205.0,0.0,8.0,1547.0,404.0,38.0,HT206B1-H1
2,409,98.704581,0,3711,26,3740,8.728606,3722.951100,0.452175,44971.0,...,573.0,0.0,54.0,15.0,0.0,8.0,4518.0,61.0,29.0,HT206B1-H1
3,845,150.675144,0,3739,32,3776,13.584615,3755.928994,0.368285,49170.0,...,275.0,2.0,24.0,19.0,0.0,4.0,8671.0,21.0,71.0,HT206B1-H1
4,241,70.870058,0,3873,12,3902,4.082988,3886.991701,0.928244,49978.0,...,758.0,1.0,419.0,191.0,47.0,6.0,56332.0,283.0,95.0,HT206B1-H1
5,733,115.639610,0,3888,35,3921,16.049113,3906.064120,0.497079,59773.0,...,819.0,2.0,24.0,23.0,13.0,3.0,4903.0,65.0,66.0,HT206B1-H1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245792,164,66.491378,20144,7479,20160,7495,20152.152439,7487.085366,0.704861,5022.0,...,29.0,0.0,0.0,0.0,7.0,0.0,3.0,0.0,46.0,HT397B1-H3A1
245793,362,120.396970,20145,4399,20160,4431,20152.436464,4415.226519,0.895482,6867.0,...,2.0,0.0,30.0,0.0,19.0,0.0,16.0,0.0,0.0,HT397B1-H3A1
245794,203,81.876154,20146,7087,20160,7110,20152.852217,7097.862069,0.910259,11646.0,...,0.0,0.0,31.0,1.0,11.0,0.0,1.0,0.0,152.0,HT397B1-H3A1
245795,166,52.970563,20148,7164,20160,7184,20154.367470,7171.807229,0.804928,6406.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,HT397B1-H3A1
245796,66,42.177670,20150,7549,20160,7563,20155.757576,7556.560606,0.750313,6993.0,...,12.0,0.0,0.0,0.0,0.0,2.0,43.0,1.0,0.0,HT397B1-H3A1

In [14]:
df.to_csv('/diskmnt/Projects/Users/estorrs/sandbox/test_csv.csv', sep=',')

In [15]:
a = sc.read_h5ad('/diskmnt/Projects/Users/estorrs/multiplex_data/codex/htan/HT206B1-H1/downstream_analysis/neighborhood_analysis.h5ad')
a

AnnData object with n_obs × n_vars = 221081 × 17
    obs: 'area', 'perimeter', 'bbox_row_min', 'bbox_col_min', 'bbox_row_max', 'bbox_col_max', 'centroid_row', 'centroid_col', 'eccentricity', 'DAPI intensity max', 'CD31 intensity max', 'E-cadherin intensity max', 'CD4 intensity max', 'CD20 intensity max', 'Ki67 intensity max', 'CD68 intensity max', 'Pan-CK intensity max', 'CD8 intensity max', 'Histone H3 Pho intensity max', 'CD163 intensity max', 'Podoplanin intensity max', 'CD3 intensity max', 'CD36 intensity max', 'HIF1a intensity max', 'GLUT1 intensity max', 'GATA3 intensity max', 'CD45RO intensity max', 'CD45RA intensity max', 'SMA intensity max', 'CK19 intensity max', 'MGP intensity max', 'Vimentin intensity max', 'Maspin intensity max', 'Foxp3 intensity max', 'MMP9 intensity max', 'HLA-DR intensity max', 'CK14 intensity max', 'CD11c intensity max', 'CD44 intensity max', 'DAPI intensity min', 'CD31 intensity min', 'E-cadherin intensity min', 'CD4 intensity min', 'CD20 intensity min', 'Ki67 intensity min', 'CD68 intensity min', 'Pan-CK intensity min', 'CD8 intensity min', 'Histone H3 Pho intensity min', 'CD163 intensity min', 'Podoplanin intensity min', 'CD3 intensity min', 'CD36 intensity min', 'HIF1a intensity min', 'GLUT1 intensity min', 'GATA3 intensity min', 'CD45RO intensity min', 'CD45RA intensity min', 'SMA intensity min', 'CK19 intensity min', 'MGP intensity min', 'Vimentin intensity min', 'Maspin intensity min', 'Foxp3 intensity min', 'MMP9 intensity min', 'HLA-DR intensity min', 'CK14 intensity min', 'CD11c intensity min', 'CD44 intensity min', 'leiden', 'cell type', 'cell_type', 'centroid_row_inverted', 'LDA_kmeans_cluster', 'max_theme', 'metacluster'
    var: 'marker'
    uns: 'LDA_kmeans_cluster_colors', 'cell_type_co_occurrence', 'cell_type_colors', 'cell_type_interactions', 'cell_type_nhood_enrichment', 'dendrogram_LDA_kmeans_cluster', 'leiden', 'leiden_colors', 'max_theme_colors', 'metacluster_colors', 'neighbors', 'pca', 'spatial', 'spatial_neighbors', 'umap'
    obsm: 'X_LDA', 'X_pca', 'X_umap', 'spatial'
    varm: 'PCs'
    obsp: 'connectivities', 'distances', 'spatial_connectivities', 'spatial_distances'

In [16]:
df = a.obs[['cell_type', 'LDA_kmeans_cluster', 'metacluster']]
df

          cell_type LDA_kmeans_cluster   metacluster
cell_id
1         Malignant                  1  Tumor - Pure
2         Malignant                  1  Tumor - Pure
3         Malignant                  1  Tumor - Pure
4         Malignant                  1  Tumor - Pure
5         Malignant                  1  Tumor - Pure
...             ...                ...           ...
221077   Macrophage                 10  Tumor - Pure
221078    Malignant                  1  Tumor - Pure
221079    Malignant                  1  Tumor - Pure
221080    Malignant                  1  Tumor - Pure
221081   Fibroblast                 10  Tumor - Pure

[221081 rows x 3 columns]

In [18]:
df.to_csv('/diskmnt/Projects/Users/estorrs/sandbox/ht206_annotations.csv', sep=',')